.header_title{
    margin: 100px 0 30px 0;
    color: #007bff;
}
.error-text {
    color: red;
    text-align: center; 
}
.card-body, .card{
    border-right: none;
    border-left: none;
}
.line-through {
    text-decoration: line-through;
}